<div class="row">

    <div class="col-md-12">

        <div class="card">
            <div class="card-header">
                <strong>My</strong> Profile
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="nf-FirstName">FirstName</label>
                        <input type="FirstName" id="nf-FirstName" name="nf-FirstName" class="form-control"
                            placeholder="Enter FirstName.." autocomplete="FirstName">
                        <!-- <span class="help-block">Please enter your FirstName</span> -->
                    </div>
                    <div class="form-group">
                        <label for="nf-MiddleName">Middle Name</label>
                        <input type="MiddleName" id="nf-LastName" name="nf-MiddleName" class="form-control"
                            placeholder="Enter MiddleName.." autocomplete="MiddleName">
                        <!-- <span class="help-block">Please enter your Last Name</span> -->
                    </div>
                    <div class="form-group">
                        <label for="nf-LastName">Last Name</label>
                        <input type="LastName" id="nf-LastName" name="nf-LastName" class="form-control"
                            placeholder="Enter LastName.." autocomplete="LastName">
                        <!-- <span class="help-block">Please enter your Last Name</span> -->
                    </div>
                    <div class="form-group">
                        <label for="nf-CountyCode">CountyCode</label>
                        <input type="CountyCode" id="nf-CountyCode" name="nf-CountyCode" class="form-control"
                            placeholder="Enter CountyCode.." autocomplete="current-CountyCode">
                        <!-- <span class="help-block">Please enter your county code</span> -->
                    </div>
                    <div class="form-group">
                        <label for="nf-PhoneNo">Phone No</label>
                        <input type="PhoneNo" id="nf-PhoneNo" name="nf-PhoneNo" class="form-control"
                            placeholder="Enter PhoneNo.." autocomplete="PhoneNo">
                        <!-- <span class="help-block">Please enter your phone no</span> -->
                    </div>
                    <div class="form-group">
                        <label for="nf-AlternatePhoneNo">Alternate Phone No</label>
                        <input type="AlternatePhoneNo" id="nf-AlternatePhoneNo" name="nf-AlternatePhoneNo" class="form-control"
                            placeholder="Enter Alternate PhoneNo.." autocomplete="AlternatePhoneNo">
                        <!-- <span class="help-block">Please enter your alternate phone no</span> -->
                    </div>
                    <div class="form-group">
                        <label for="nf-PanNumber">Pan Number</label>
                        <input type="PanNumber" id="nf-PanNumber" name="nf-PanNumber" class="form-control"
                            placeholder="Enter Alternate PanNumber.." autocomplete="PanNumber">
                        <!-- <span class="help-block">Please enter your pan number</span> -->
                    </div>
                    <div class="form-group">
                        <label for="nf-AadharNumber">Aadhar Number</label>
                        <input type="AadharNumber" id="nf-AadharNumber" name="nf-AadharNumber" class="form-control"
                            placeholder="Enter Alternate AadharNumber.." autocomplete="AadharNumber">
                        <!-- <span class="help-block">Please enter your aadhar number</span> -->
                    </div>
                    <div class="form-group">
                        <label for="nf-Residential">Residential</label>
                        <input type="Residential" id="nf-Residential" name="nf-Residential" class="form-control"
                            placeholder="Enter Alternate Residential.." autocomplete="Residential">
                        <!-- <span class="help-block">Please enter your Residential</span> -->
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
        </div>
    </div>
    <!--/.col-->
</div>