<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <div class=" text-center mb-1">
                    <img src="assets/img/brand/logo-icon.png">
                  </div>
                  <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
                    <!-- <h1>Login</h1> -->
                    <!-- <p class="text-muted">Sign In to your account</p> -->
                    <div class="input-group mb-3">
                      <input type="text" class="form-control"  placeholder="PanNo"
                      #PanNo="ngModel" name="PanNo" [(ngModel)]="formModel.PanNo" autocomplete="PanNo" required>
                    </div>
                    <div class="row">
                      <div class="col-6">
                         <input type="submit" [disabled]="form.invalid" class="btn btn-primary px-4" value="Submit">
                      </div>
                      <div class="col-6 text-right">
                        <button type="button" class="btn btn-link px-0">Resent OTP</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  