<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                  <div class=" text-center mb-1">
                    <img src="assets/img/brand/logo-icon.png">
                  </div>
                  <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="onSubmit(form)">
                    <p class="text-muted">Pan no details</p>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control"  placeholder="PanNo"
                      #PanNo="ngModel" name="PanNo" [pattern]="panPattern" [(ngModel)]="formModel.PanNo" ngp autocomplete="PanNo" required>
                    </div>
                    <div *ngIf="PanNo.errors && PanNo.errors.pattern" [ngClass] = "'validation-message'">  
                      #PAN invalid.  
                    </div>   
                    <div class="row">
                      <div class="col-6">
                         <input type="submit" [disabled]="form.invalid" class="btn btn-primary px-4" value="Submit">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  